<div
  class="page"
  gdRows="auto!"
  gdColumns="auto"
  gdColumns.gt-xs="repeat(2, 1fr)"
  gdColumns.gt-sm="repeat(3, 1fr)"
  gdColumns.gt-md="repeat(4, 1fr"
  gdColumns.gt-lg="repeat(5, 1fr)"
  gdGap="16px"
>
  <mat-card class="pet" *ngFor="let pet of pets$ | async" fxLayout="column">
    <mat-card-header class="header">
      <mat-card-title>
        {{ pet.name }}
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="pet.breed">
          <b>Breed:</b>
          {{ pet.breed }}
        </span>
        &nbsp;
        <span *ngIf="pet.class">
          <b>Class:</b>
          {{ pet.class }}
        </span>
        <mat-icon class="pet-sex">
          {{ pet.sex === 'M' ? 'male' : 'female' }}
        </mat-icon>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" fxFlex="1 1 auto">
      <div class="img-container">
        <img
          (click)="uploadImage(pet)"
          [src]="pet.profilePicture || 'assets/images/bushy-transparent.png'"
          alt="{{ pet.name }} profile picture"
          class="profile-picture"
        />
        <div class="hover-icon">
          <mat-icon>photo_camera</mat-icon>
        </div>
      </div>
      <div class="pet-details">
        <span class="overline">Details</span>
        <mat-divider [inset]="true" style="margin-bottom: 4px"></mat-divider>
        <p>
          <b>Acquired:</b>
          <span *ngIf="pet.dateOfAcquisition; else dateUnknown">
            {{ pet.dateOfAcquisition | date: 'mediumDate' }}
          </span>
          <ng-template #dateUnknown>
            <span>
              Unknown
            </span>
          </ng-template>
        </p>
        <p>
          <b>Born:</b>
          <span>
            {{ pet.dateOfBirth | date: 'mediumDate' }}
            ({{ pet.age }} years old)
          </span>
        </p>
        <span class="overline">Biography</span>
        <mat-divider [inset]="true" style="margin-bottom: 4px"></mat-divider>
        <p class="biography">
          {{ pet.biography }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button type="button" (click)="editPet(pet)">
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-fab class="add-button" color="accent" (click)="addPet()">
  <mat-icon>add</mat-icon>
</button>
