<h1 mat-dialog-title>Create Budget Column</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Column Name</mat-label>
    <input matInput type="text" name="budget-column-name" [formControl]="columnNameControl" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-button type="button" color="primary" [mat-dialog-close]="columnNameControl.value" [disabled]="columnNameControl.invalid">
    Submit
  </button>
</div>
