<div
  class="page"
  gdRows="auto!"
  gdColumns="auto"
  gdColumns.gt-sm="repeat(2, 1fr)"
  gdColumns.gt-md="repeat(3, 1fr)"
  gdColumns.gt-lg="repeat(4, 1fr)"
  gdGap="16px"
>
  <mat-card class="pet" *ngFor="let pet of pets$ | async">
    <mat-card-header class="header">
      <mat-card-title>
        {{ pet.name }}

      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="pet.breed">
          <b>Breed:</b>
          {{ pet.breed }}
        </span>
        &nbsp;
        <span *ngIf="pet.class">
          <b>Class:</b>
          {{ pet.class }}
        </span>
        <mat-icon class="pet-sex">
          {{ pet.sex === 'M' ? 'male' : 'female' }}
        </mat-icon>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">
      <div class="img-container">
        <img
          (click)="uploadImage(pet)"
          [src]="pet.profilePicture || 'assets/images/bushy-transparent.png'"
          alt="{{ pet.name }} profile picture"
          class="profile-picture"
        />
        <div class="hover-icon">
          <mat-icon>photo_camera</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<button mat-fab class="add-button" color="accent" (click)="addPet()">
  <mat-icon>add</mat-icon>
</button>
