<div class="container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <ng-container *ngIf="columns$ | async as columns">
    <mat-action-list *ngIf="columns.length; else empty">
      <mat-list-item class="budget-column" *ngFor="let column of columns">
        <h2 matLine>{{ column.name }}</h2>
      </mat-list-item>
    </mat-action-list>
    <ng-template #empty>
      <h2>There are no columns in this budget</h2>
    </ng-template>
    <button mat-raised-button type="button" color="primary">
      <mat-icon>download</mat-icon>
      Import Columns
    </button>
    <button mat-raised-button type="button" color="accent" (click)="createColumn()">
      <mat-icon>add</mat-icon>
      Add Column
    </button>
  </ng-container>
</div>
