<div class="container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
  <div class="wishlist-card" *ngFor="let wishlist of wishlists$ | async" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
      <span class="wishlist-title" fxFlex="1 1 auto">{{ wishlist.name }}</span>
      <span class="wishlist-shared" *ngIf="wishlist.shared">Shared</span>
    </div>
    <span class="wishlist-user">{{ wishlist.userName }}</span>
    <span class="wishlist-details" fxLayout="row" fxLayoutAlign="start stretch">
      <span class="wishlist-items">
        <span class="items-number">
          {{ 0 }}
        </span>
        items
      </span>
      <span fxFlex="1 1 auto"></span>
      <span class="wishlist-amount">
        <span class="amount-number">
          {{ 0 | currency: 'ZAR':'symbol-narrow' }}
        </span>
        total
      </span>
    </span>
  </div>
</div>
<button mat-fab color="accent" type="button" class="add-button" (click)="addWishlist()">
  <mat-icon>add</mat-icon>
</button>
