<div class="page" gdRows="auto!" gdColumns="auto" gdColumns.gt-sm="1fr 3fr">
  <div class="filter" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="filterForm">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput type="text" name="wishlist-search" formControlName="search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutGap="8px">
        <dw-chip-filter-list [chips]="users$ | async" formControlName="users"></dw-chip-filter-list>
        <mat-checkbox formControlName="shared">Shared</mat-checkbox>
      </div>
    </mat-expansion-panel>
  </div>
  <div
    class="container"
    gdRows="min-content!"
    gdColumns="repeat(auto-fill, minmax(200px, 1fr))"
    gdGap="8px"
    *ngIf="wishlists$ | async as wishlists; else loading"
  >
    <ng-container *ngIf="wishlists.length; else empty">
      <div
        class="wishlist-card"
        *ngFor="let wishlist of wishlists"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxLayoutGap="8px"
        [routerLink]="wishlist.id"
      >
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
          <span class="wishlist-title" fxFlex="1 1 auto">{{ wishlist.name }}</span>
          <span class="wishlist-shared" *ngIf="wishlist.shared">Shared</span>
          <mat-menu #menu>
            <button mat-menu-item type="button" (click)="editWishlist(wishlist)">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-menu-item type="button" (click)="deleteWishlist(wishlist)">
              <mat-icon color="warn">delete</mat-icon>
              Delete
            </button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="menu" type="button" (click)="preventEventBubble($event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <span class="wishlist-user">{{ wishlist.user?.displayName }}</span>
        <span class="wishlist-details" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <span class="wishlist-items">
            <span class="items-number">
              {{ getWishlistItemsNumber(wishlist) }}
            </span>
            items
          </span>
          <span fxFlex="1 1 auto"></span>
          <span class="wishlist-amount">
            <span class="amount-number">
              {{ getWishlistAmount(wishlist) | currency: 'ZAR':'symbol-narrow' }}
            </span>
            total
          </span>
        </span>
      </div>
    </ng-container>
    <ng-template #empty>
      <div>
        <h2>There are no wishlists yet</h2>
        <button mat-raised-button color="accent" (click)="addWishlist()">
          <mat-icon>add</mat-icon>
          Add Wishlist
        </button>
      </div>
    </ng-template>
  </div>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <button mat-fab color="accent" type="button" class="add-button" (click)="addWishlist()">
    <mat-icon>add</mat-icon>
  </button>
</div>
