<div class="page" gdColumns="auto" gdColumns.gt-md="1fr 3fr" gdRows="min-content!">
  <div class="filter" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="filterForm" fxLayoutGap="4px">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput type="text" name="wishlist-item-filter" formControlName="search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Filters</mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <dw-chip-filter-list formControlName="brands" [chips]="brands$ | async"></dw-chip-filter-list>
      </div>
    </mat-expansion-panel>
  </div>
  <ng-container *ngIf="items$ | async as items">
    <div class="container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" *ngIf="items.length; else empty">
      <ng-container *ngFor="let item of incompleteItems$ | async">
        <ng-container *ngTemplateOutlet="itemCard; context: { item: item }"></ng-container>
      </ng-container>
      <ng-container *ngIf="completeItems$ | async as completeItems">
        <ng-container *ngIf="completeItems.length">
          <h3 class="complete-header">Completed</h3>
          <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngFor="let item of completeItems">
          <ng-container *ngTemplateOutlet="itemCard; context: { item: item }"></ng-container>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #empty>
      <div style="padding: 16px">
        <h2>There are no wishlist items yet</h2>
        <button mat-raised-button color="accent" type="button" (click)="addWishlistItem()">
          <mat-icon>add</mat-icon>
          Add Wishlist Item
        </button>
      </div>
    </ng-template>
  </ng-container>
  <button mat-fab color="accent" type="button" class="add-button" (click)="addWishlistItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<ng-template #itemCard let-item="item">
  <div class="wishlist-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <mat-checkbox [checked]="!!item.completed" (click)="toggleItemCompletion(item)"></mat-checkbox>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 1 auto">
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <span class="wishlist-item-name">{{ item.name }}</span>
        <span class="wishlist-item-brand" *ngIf="item.brand">({{ item.brand }})</span>
        <span fxFlex="1 1 auto"></span>
        <mat-menu #menu>
          <button mat-menu-item type="button" (click)="editWishlistItem(item)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-menu-item type="button" (click)="deleteWishlistItem(item)">
            <mat-icon color="warn">delete</mat-icon>
            Delete
          </button>
        </mat-menu>
        <button mat-icon-button type="button" [matMenuTriggerFor]="menu" (click)="preventBubble($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" *ngIf="item.amount">
        <span class="amount">
          {{ item.amount | currency: 'ZAR':'symbol-narrow' }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
