<form class="page" [formGroup]="importForm" (submit)="submit()">
  <div fxHide.lt-md gdRows="min-content!" gdColumns="repeat(2, 1fr)" gdGap="24px">
    <div *ngFor="let column of columns$ | async; let index = index">
      <mat-card>
        <mat-card-title>{{ column.name }}</mat-card-title>
        <mat-card-content>
          <mat-selection-list [formControlName]="column.id">
            <mat-list-option *ngFor="let item of column.items" [value]="item">
              <h3 matLine>{{ item.title }}</h3>
              <span matLine class="item-amount" [class.expense]="item.amount < 0" [class.income]="item.amount > 0">
                {{ item.amount | currency: 'ZAR':'symbol-narrow' }}
              </span>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-tab-group fxHide.gt-sm>
    <mat-tab *ngFor="let column of columns$ | async" [label]="column.name">
      <mat-selection-list [formControlName]="column.id">
        <mat-list-option *ngFor="let item of column.items" [value]="item">
          <h3 matLine>{{ item.title }}</h3>
          <span matLine class="item-amount" [class.expense]="item.amount < 0" [class.income]="item.amount > 0">
            {{ item.amount | currency: 'ZAR':'symbol-narrow' }}
          </span>
        </mat-list-option>
      </mat-selection-list>
    </mat-tab>
  </mat-tab-group>
  <button mat-fab color="accent" type="submit" class="import-button" matTooltip="Import Columns">
    <mat-icon>download</mat-icon>
  </button>
</form>
