<h1 mat-dialog-title>{{ editing ? 'Edit' : 'Create' }} Wishlist Item</h1>
<form mat-dialog-content [formGroup]="wishlistItemForm" gdColumns="1fr" gdColumns.gt-sm="repeat(2, 1fr)" gdRows="auto!" gdGap="8px">
  <mat-form-field gdColumn.gt-sm="span 2" gdColumn="1">
    <mat-label>Name *</mat-label>
    <input matInput type="text" name="wishlist-item-name" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="number" step="0.01" name="wishlist-item-amount" formControlName="amount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Brand</mat-label>
    <input matInput type="text" name="wishlist-item-brand" formControlName="brand" />
  </mat-form-field>
  <mat-form-field gdColumn.gt-sm="span 2" gdColumn="1">
    <mat-label>Link</mat-label>
    <input matInput type="text" name="wishlist-item-link" formControlName="link" />
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-button type="button" color="primary" [mat-dialog-close]="wishlistItemForm.value" [disabled]="wishlistItemForm.invalid">
    Submit
  </button>
</div>
