// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~@angular/flex-layout/mq';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$draperweb2-primary: mat-palette($mat-deep-purple);
$draperweb2-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$draperweb2-warn: mat-palette($mat-red);

// Success palette
$draperweb2-success: mat-palette($mat-green);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$draperweb2-theme: mat-light-theme(
  (
    color: (
      primary: $draperweb2-primary,
      accent: $draperweb2-accent,
      warn: $draperweb2-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($draperweb2-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --primary-colour: #{mat-color($draperweb2-primary, default)};
  --primary-darker-colour: #{mat-color($draperweb2-primary, darker)};
  --primary-lighter-colour: #{mat-color($draperweb2-primary, lighter)};
  --primary-text-colour: #{mat-color($draperweb2-primary, default-contrast)};
  --primary-darker-text-colour: #{mat-color($draperweb2-primary, darker-contrast)};
  --primary-lighter-text-colour: #{mat-color($draperweb2-primary, lighter-contrast)};

  --accent-colour: #{mat-color($draperweb2-accent, default)};
  --accent-darker-colour: #{mat-color($draperweb2-accent, darker)};
  --accent-lighter-colour: #{mat-color($draperweb2-accent, lighter)};
  --accent-text-colour: #{mat-color($draperweb2-accent, default-contrast)};
  --accent-darker-text-colour: #{mat-color($draperweb2-accent, darker-contrast)};
  --accent-lighter-text-colour: #{mat-color($draperweb2-accent, lighter-contrast)};

  --success-colour: #{mat-color($draperweb2-success, default)};
  --success-darker-colour: #{mat-color($draperweb2-success, darker)};
  --success-lighter-colour: #{mat-color($draperweb2-success, lighter)};
  --success-text-colour: #{mat-color($draperweb2-success, default-contrast)};
  --success-darker-text-colour: #{mat-color($draperweb2-success, darker-contrast)};
  --success-lighter-text-colour: #{mat-color($draperweb2-success, lighter-contrast)};

  --warn-colour: #{mat-color($draperweb2-warn, default)};
  --warn-darker-colour: #{mat-color($draperweb2-warn, darker)};
  --warn-lighter-colour: #{mat-color($draperweb2-warn, lighter)};
  --warn-text-colour: #{mat-color($draperweb2-warn, default-contrast)};
  --warn-darker-text-colour: #{mat-color($draperweb2-warn, darker-contrast)};
  --warn-lighter-text-colour: #{mat-color($draperweb2-warn, lighter-contrast)};

  --background-colour: #fafafa;
}

// Custom material components styling

.mat-button-base:not(.mat-icon-button):not(.mat-fab):not(.mat-mini-fab) {
  border-radius: 24px;
}

.mat-form-field-prefix {
  margin-right: 4px;
}

mat-tab-group.fill-height {
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

ngx-charts-advanced-pie-chart {
  line-height: unset;
  &.adaptive {
    @include layout-bp(lt-md) {
      > div {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
      }
    }

    .legend-items {
      display: flex;

      @include layout-bp(gt-sm) {
        flex-flow: row wrap;
      }
      @include layout-bp(lt-md) {
        flex-flow: column nowrap;
      }
    }
  }
}
